.card {
  box-shadow: -2px 2px 18px -9px rgba(0, 0, 0, 0.68);
  transition: 500ms;
}

.card:hover, .card:active {
  transform: scaleY(1.05) scaleX(1.05);
  box-shadow: 0 14px 98px rgba(0, 0, 0, 0.25), 0 0px 60px rgba(0, 0, 0, 0.22);
}

.card ul li img {
  opacity: 0.3;
}

.card ul li img:hover, .card ul li img:active {
  opacity: 1;
  cursor: pointer;
}
