nav {
  border-bottom: 2px solid lightgrey;
  box-shadow: -5px 6px 12px -8px rgba(0, 0, 0, 0.68);
}

#CollapseContent {
  border: 1px dashed black;
  width: 86%;
}

nav button:hover {
  color: green !important;
  outline-color: green !important;
}

nav input:focus,
nav input[type=search] {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
